@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }
*{
    font-family: "·L³n¥¿¶ÂÅé","Microsoft JhengHei",'Source Sans Pro', sans-serif;
}
.container{
    position: absolute; 
    border: 1px solid; 
    width: 1000px; 
    height: 550px;
    right: 10px;
}
.inside{
    position: absolute;
    width: 950px;
    height: 500px;
    top: 25px;
    right: 25px;
    overflow: hidden;
}
.inside-img{
    position: absolute;
    width: 912px;
    height: 462px;
    top: 19px;
    right: 19px;
    overflow: auto;
}
.oven{
    display: inline-block;
    width: 300px;
    height: 230px;
}