@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
*{
    font-family: "·L³n¥¿¶ÂÅé","Microsoft JhengHei",'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body{
    height:100%;
    width:100%;
    background-color:#DAA520;
    background-image:url('../img/back.jpg');
    background-opacity:0.1;
    background-position: 150px 300px;
}
#upper{
    position:absolute;
    right:0px;
    top:0px;
    font-size:25px;
    color:black;
    z-index:5;
}
#column{
	font-size: 20px;
	line-height: 30px;
}
button{
    height:40px; 
}
.container-fluid{
    padding:20px;
}
.no-gutter > [class*='col-'] {
    padding-right:0px;
    padding-left:0px;
}
#wrapper{
    margin-bottom:10px;
    margin-top:10px;
}
#section1-1{

}
#button{
    height:40px;
}
#main{ 
    background:top repeat  url('../img/24.jpg');
    position:relative;
    height:0;
    padding-bottom:40%;
    overflow:hidden;
    border-style:double;
    border-color:#EE7700;
}
#main_in{
    height:100%;
    margin-bottom:5%;
    padding-top:5%;
    z-index:0;
}
#leftbar{
    background: linear-gradient(to right,#DEB887 40%,#FFDAB9);
    background-image:url('../img/12.jpg');
    background-repeat: no-repeat;
    background-size:283px 178px;
    opacity:0.7;
    padding:8px 0px 3px 10px;
    padding-bottom:20%;
    letter-spacing: 4pt;
	font-size: 20px;
	line-height: 30px;
}
#space{
    min-height:8px;
    max-height:10px;
}
.oven{
    height:100%;
}
#oven1_b,#oven2_b,#oven3_b,#oven4_b{
    background:url('../img/oven.png') top no-repeat;
    width: 300px;
    height: 212px;
    margin:0 auto;
    text-align:center;
}
#oven1,#oven2,#oven3,#oven4{
    margin:0 auto;
    text-align:center;
    height:100%;
}
#picture {
    position:absolute;
    left:3%;
    top:34%;
    opacity:0.35;
}
#picture2 {
    position:absolute;
    left:5%;
    top:60%;
    opacity:0.35;
}
.buttons {
    background-image:url('../img/13.jpg');
    background-repeat:no-repeat;
    background-position:center;
	padding-left:1pc;
    color:#8B0000;
}
.buttons:hover {
    background-image:url('../img/13.jpg');
    color:orange;
    font-weight:bold;
}